.app {
    padding: 2rem;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
}

.header h2 {
    padding: 1rem;
    font-size: 2rem;
}

.form-conteiner {
    background: #fff;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
    height: 400px;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

.form-conteiner form {
    max-width: 400px;
    margin: auto;
}

.input-conteiner {
    min-height: 280px;
}

.form-control label {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-weight: bold;
    color: #000000af;
    margin-bottom: 2rem;
}

input,
textarea {
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
    padding: 10px;
}

textarea {
    height: 120px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background: #ccc;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.actions .advance {
    background: #2ECC71;
    color: #ffffff;
}

.actions #back {
    background: #ee3030;
    color: #ffffff;
}